<h1>Maze Solver Breadth-First Solution</h1>
<p><a href="/breadth">BACK</a></p>
<p><a href="/">HOME</a></p>

<div id="content" style="display: inline-block">
	<%h_counter = 0%>
	<ul>
	<%while h_counter < 11 do%>
		<%w_counter = 0%>
		<li>
		<%while w_counter < 11 do%>

			<div class="<%= if @my_correct_path[h_counter][w_counter]
								"green" 
							elsif @my_maze[h_counter][w_counter]
								"black"
							else
								"grey"
							end %>"
			>#</div>
			<%w_counter += 1 %>
		<%end %>
		<%h_counter +=1 %>
		</li>
	<%end%>
	</ul>
</div>