<head>
	<meta http-equiv="refresh" content="0.3" >
</head>
<h1>Maze Solver Depth-First</h1>
<p><a href="/">BACK</a></p>

<div id="content" style="display: inline-block">
	<%h_counter = 0%>
	<ul>
	<%while h_counter < 11 do%>
		<%w_counter = 0%>
		<li>
		<%while w_counter < 11 do%>

			<div class="<%= if @my_maze_path[h_counter][w_counter]
								"blue" 
							elsif @my_maze[h_counter][w_counter]
								"black"
							else
								"grey"
							end %>"
			>#</div>
			<%w_counter += 1 %>
		<%end %>
		<%h_counter +=1 %>
		</li>
	<%end%>
	</ul>
</div>