<h1>The Game of Life</h1>
<div class="header">
        <a href="/glider-gun">GLIDER GUN</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="/beehives">BEEHIVES</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/randomize">RANDOMIZED</a>

</div>
<div class="content">     
        <p>I completed&nbsp;
                <a href="http://en.wikipedia.org/wiki/Conway's_Game_of_Life" title="Game of Life Wikipedia">Conway's Game of Life</a>
                &nbsp;challenge! There are three options to watch: a hardcoded 
                <a href="http://en.wikipedia.org/wiki/Gun_(cellular_automaton)">Gosper's Glider Gun</a>, hardcoded beehives, or a random number and location of "alive" cells on a fifty-cell by fifty-cell grid. Code
                <a href="https://github.com/kthffmn/game_of_life" title="kthffmn's github link to game of life">here</a>. Challenge at 
                <a href="http://flatironschool-bk.herokuapp.com/" title="Flatiron BK000 Fellows">Flatiron BK000</a>.
        </p>
</div>