<h1>Maze Solver</h1>

<h2><a href="/breadth">BREADTH-FIRST</a></h2>
<h2><a href="/depth">DEPTH-FIRST</a></h2>

<div class="content">     
        <p>
                Maze solver challenge at <a href="http://flatironschool-bk.herokuapp.com/" title="Flatiron BK000 Fellows">Flatiron BK000</a>. Code <a href="https://github.com/kthffmn/maze_solver" title="kthffmn's github link to maze solver">here</a>. For more information about depth-first, go <a href="http://en.wikipedia.org/wiki/Depth-first_search" title="wiki's page for depth">here</a>. To learn about breath-first, go <a href="http://en.wikipedia.org/wiki/Breadth-first_search" title="wiki's page for breadth">here</a>.
        </p>
</div>

<div class="maze">
        <p>Here is the maze to solve:</p>
        <ul>
                <li>###########</li>
                <li>#&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#</li>
                <li># ##### # #</li>
                <li>&nbsp;&nbsp;&nbsp;&nbsp;#&nbsp;&nbsp;&nbsp;# #</li>
                <li>### # ### #</li>
                <li>#&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#&nbsp;&nbsp;&nbsp;#</li>
                <li># # ### ###</li>
                <li># #&nbsp;&nbsp;&nbsp;#&nbsp;&nbsp;&nbsp;&nbsp;</li>
                <li># ### # # #</li>
                <li>#&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;#&nbsp;&nbsp;&nbsp;#</li>
                <li>###########</li>
        </ul>
</div>