<h1>The Game of Life</h1>
<div class="header">
        <a href="/">HOME</a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/glider-gun">GLIDER GUN</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
		<a href="/beehives">BEEHIVES</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a href="/randomize">RANDOMIZED</a>
</div>    

<p>Game sucessfully reset!</p>