body {
        font-family: "Courier New", Courier, monospace;
        background-color: black;
        color: white;
}

ul div {
    display: inline;
    width: 10px;
    height: 5px;
    margin-left: -8px;
}

li {
    list-style-type: none;
}

.black {
    background-color: black;
    color: black;
}

.green {
    background-color: green;
    color: green;
}
.blue {
    background-color: blue;
    color: blue;
}

.grey {
    background-color: grey;
    color: grey;
}

A:link {text-decoration: none; color: #D8D8D8}
A:visited {text-decoration: none; color: #B0B0B0}
A:active {text-decoration: none; color: #D8D8D8}
A:hover {text-decoration: underline overline; font-weight: bold}
